/*remove margins and padding from left and right side of site*/
.row {
  margin-left: 0;
  margin-right: 0; }

.container-fluid {
  padding-left: 0;
  padding-right: 0;
  margin: 0; }

html {
  scroll-behavior: smooth; }

body {
  font-family: 'Source Sans Pro', sans-serif; }

header {
  background-image: url(../img/header3.jpg);
  background-size: cover;
  height: 650px; }
  header .nav-logo {
    max-width: 100px; }
  header .header-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-transform: uppercase;
    text-align: center;
    height: 650px;
    color: #ffffff;
    font-weight: 400; }
    header .header-text h1 {
      position: relative; }
    header .header-text h1::after {
      content: ' ';
      position: absolute;
      background: #ffffff;
      bottom: -10px;
      left: calc(50% - 50px);
      width: 100px;
      height: 1px;
      margin: auto; }
    header .header-text .see-more-btn {
      color: #89ce40;
      border: 2px solid #89ce40;
      padding: 15px 20px;
      margin-top: 30px;
      border-radius: 2px;
      transition: .5s; }
      header .header-text .see-more-btn a {
        text-decoration: none;
        color: #89ce40; }
      header .header-text .see-more-btn a:hover {
        color: #fffffF; }
    header .header-text .see-more-btn:hover {
      background-color: #89ce40;
      color: #fffffF;
      cursor: pointer; }
      header .header-text .see-more-btn:hover a {
        color: #fffffF; }

nav {
  background-color: #ffffff;
  font-size: 1.1em;
  height: 75px; }

.fp-about-us-content .seal-logo {
  display: flex;
  justify-content: center; }
  .fp-about-us-content .seal-logo img {
    width: 300px; }

.fp-about-us-content .seal-short-info {
  display: flex;
  flex-direction: column;
  align-items: center; }
  .fp-about-us-content .seal-short-info .btn-see-more {
    width: auto;
    background-color: #89ce40;
    border-radius: 25px;
    color: #ffffff;
    padding: 15px 20px;
    margin: 20px 0; }

.fp-about-us-content .seal-partners-section {
  display: flex;
  justify-content: center;
  margin-top: 50px; }
  .fp-about-us-content .seal-partners-section .seal-partners {
    margin-top: 30px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap; }
    .fp-about-us-content .seal-partners-section .seal-partners .seal-partner img {
      width: 150px; }

.section-galleries {
  background-color: blue;
  background-image: url(../img/fp_gallery_bg.jpg);
  background-size: cover;
  min-height: 500px; }
  .section-galleries h1 {
    color: #ffffff; }

footer {
  padding: 20px 20px;
  background-color: #424242;
  color: #fffffF; }
  footer a {
    color: #ffffff; }
  footer a:hover {
    color: lightgrey;
    text-decoration: none; }
  footer .footer-logo {
    width: 60px; }
  footer ul {
    list-style: none;
    padding-left: 0; }
  footer .footer-col {
    display: flex;
    flex-direction: column; }

.post {
  display: flex;
  margin-top: 25px; }
  .post .post-thumbnail {
    border: 1px solid grey;
    border-radius: 2px;
    margin-right: 10px; }

.post:nth-last-child(1) {
  margin-bottom: 50px; }

.post-full {
  display: flex;
  flex-direction: column;
  margin-top: 50px; }

section {
  margin-bottom: 50px; }
  section .section-title {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: center;
    padding-top: 50px;
    text-transform: uppercase; }
  section .section-title::after {
    content: ' ';
    position: absolute;
    background: green;
    bottom: -10px;
    left: calc(50% - 50px);
    width: 100px;
    height: 1px;
    margin: auto; }
  section .section-content {
    padding-top: 50px; }

.about-us-short-info {
  text-align: center; }
