
/*remove margins and padding from left and right side of site*/
.row{
    margin-left: 0;
    margin-right: 0;
}
.container-fluid{
    padding-left: 0;
    padding-right: 0;
    margin: 0
}

body{
    font-family: 'Source Sans Pro', sans-serif;
}

header{
       background-image: url(../img/header3.jpg);
    // background-attachment: fixed;
    // background-position: 50% 50%; 
       background-size: cover;
       height: 650px;
       .nav-logo{
           max-width: 100px;
       }
       .header-text{
           display: flex;
           flex-direction: column;
           align-items: center;
           justify-content: center;
           text-transform: uppercase;
           text-align: center;
           height: 650px;
           color: #ffffff;
           font-weight: 400;
           h1{
               position: relative;
           }
           h1::after{
            content: ' ';
            position: absolute;
            background: #ffffff;
            bottom: -10px;
            left: calc(50% - 50px);
            width: 100px;
            height: 1px;
            margin: auto;
           }
           .see-more-btn{
            border: 1px solid #ffffff;
            padding: 15px 20px;
            margin-top: 30px;
            border-radius: 2px;
            transition: .5s;
        }
        .see-more-btn:hover{
            background-color: #fffffF;
            color: rgba(0,0,0,.7);
            cursor: pointer;
        }
        
       }
}

nav{
    background-color: #ffffff;
    font-size: 1.1em;
    height: 75px;
}

footer{
    padding: 20px 20px;
    background-color: #424242;
    color: #fffffF;
    a{
        color: #ffffff;
    }
    a:hover{
        color: lightgrey;
        text-decoration: none;
    }
    .footer-logo{
        width: 60px;
    }
    ul{
        list-style: none;
        padding-left: 0;
    }
    .footer-col{
        display: flex;
        flex-direction: column;
    }
}


// unsorted styles

.post{
    display: flex;
    margin-top: 25px;
    .post-thumbnail{
        border: 1px solid grey;
        border-radius: 2px;
        margin-right: 10px;
    }

}
.post:nth-last-child(1){
    margin-bottom: 50px;
}

.post-full{
    display: flex;
    flex-direction: column;
    margin-top: 50px;
}