
/*remove margins and padding from left and right side of site*/
.row{
    margin-left: 0;
    margin-right: 0;
}
.container-fluid{
    padding-left: 0;
    padding-right: 0;
    margin: 0
}

html{
    scroll-behavior: smooth;
    
}
body{
    font-family: 'Source Sans Pro', sans-serif;
}

header{
       background-image: url(../img/header3.jpg);
    // background-attachment: fixed;
    // background-position: 50% 50%; 
       background-size: cover;
       height: 650px;
       .nav-logo{
           max-width: 100px;
       }
       .header-text{
           display: flex;
           flex-direction: column;
           align-items: center;
           justify-content: center;
           text-transform: uppercase;
           text-align: center;
           height: 650px;
           color: #ffffff;
           font-weight: 400;
           h1{
               position: relative;
           }
           h1::after{
            content: ' ';
            position: absolute;
            background: #ffffff;
            bottom: -10px;
            left: calc(50% - 50px);
            width: 100px;
            height: 1px;
            margin: auto;
           }
           .see-more-btn{
            color: #89ce40;
            border: 2px solid #89ce40;
            padding: 15px 20px;
            margin-top: 30px;
            border-radius: 2px;
            transition: .5s;
            a{
                text-decoration: none;
                color: #89ce40;
                transition: .5s;
            }
            a:hover{
                color: #fffffF;
            }
         
            
        }
        .btn-see-more a{
            color: #89ce40
        }
        .see-more-btn:hover{
            background-color: #89ce40;
            color: #fffffF;
            cursor: pointer;
           a{
               color: #fffffF;
           } 
        }
        
       }
}

nav{
    background-color: #ffffff;
    font-size: 1.1em;
    height: 75px;
}
.fp-about-us-content{
    .seal-logo{
        display: flex;
        justify-content: center;
        img{
            width: 300px;
        } 
    }
    .seal-short-info{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        .btn-see-more{
            width: auto;
            border: 1px solid #89ce40;
            color: #89ce40;
            padding: 15px 20px;
            margin: 20px 0;
            text-decoration: none;
            transition-duration: 0.5s;
        }
        .btn-see-more:hover{
            background-color: #67ad1b;
            color: #ffffff;
            cursor: pointer;
        }
    }
    .seal-partners-section{
        display: flex;
        justify-content: center;
        margin-top: 50px;
        .seal-partners{
            margin-top: 30px;
            display: flex;
            justify-content: space-around;
            align-items: center;
            flex-wrap: wrap;
            .seal-partner{
                img{
                    width: 150px;
                }
            } 
        } 
    }
     
}
.section-galleries{
    background-color: blue;
    background-image: url(../img/fp_gallery_bg2.jpg);
    background-size: cover;
    background-attachment: fixed;
    background-position: 50% 50%;
    min-height: 500px;

    h1{
        color: #ffffff;
    }
    .fp-galleries-content{
        display: flex;
        justify-content: space-around;
        align-items: center;
    }
    .section-gallery{
        position: relative;
        max-width: 300px;
        border: 1px solid #ffffff; 
        padding: 0;
        margin-bottom: 20px;
        overflow: hidden;
        transition-duration: .5s;
        img{
            transition-duration: .5s;
            transition-timing-function: ease-in-out;
        }
    }
    .section-gallery:hover{
        border: 1px solid #89ce40;
        img{
            transform: scale(1.1); 
        }
    }.see-more-galleries{
        display: flex;
        justify-content: center;
        align-items: center;
        .btn-see-more-galleries{
            width: auto;
            border: 1px solid #89ce40;
            color: #89ce40;
            padding: 15px 20px;
            margin: 20px 0;
            text-decoration: none;
            transition-duration: 0.5s;
        }
        .btn-see-more-galleries:hover{
            background-color: #67ad1b;
            color: #ffffff;
            cursor: pointer;
        }
    }
    
    
}

footer{
    padding: 20px 20px;
    background-color: #424242;
    color: #fffffF;
    a{
        color: #ffffff;
    }
    a:hover{
        color: lightgrey;
        text-decoration: none;
    }
    .footer-logo{
        width: 60px;
    }
    ul{
        list-style: none;
        padding-left: 0;
    }
    .footer-col{
        display: flex;
        flex-direction: column;
    }
}
.single-page{
    .single-page-content{
        padding-top: 50px;
    }
}


// unsorted styles

// Generic post
.post{
    display: flex;
    margin: 25px 0;
    .post-thumbnail{
        border: 1px solid grey;
        border-radius: 2px;
        margin-right: 10px;
    }

}

.post-full{
    display: flex;
    flex-direction: column;
    margin-top: 50px;
}

// Generic section
section{
    margin-bottom: 50px;
    padding-bottom: 50px;
    .section-title{
        position: relative;
        width: 100%;
        display: flex;
        justify-content: center;
        padding-top: 50px;
        text-transform: uppercase;
    }
    .section-title::after{
        content: ' ';
        position: absolute;
        background: green;
        bottom: -10px;
        left: calc(50% - 50px);
        width: 100px;
        height: 1px;
        margin: auto;
    }
    .section-content{
        padding-top: 50px;
    }
}


.about-us-short-info{
    text-align: center;
}